<style type="text/css">
    footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background:#333;
    color: #fff;
    margin-top:50px;
    }

    .about{
    text-align: left;
    margin:40px;
    }
    .about p{
    font-weight: 300;
    }

    .foot-links{
    padding-top: 50px;
    margin-right: 30%;
    text-align: center;
    }

    .pfoot{
    text-align: center;
    font-weight: bold;
    }

    .linky{
    color: purple;
    font-size: 15px;
    }

    .linky:hover{
    color: #16e0bd;
    }


</style>

<footer>
    <div class="about">
        <h4>Umoja</h4>
        <p>With the effort you people.<br>I believe our area will not only<br> grow but will be the best place ever <br>to live in the city.</p>
    </div>

    <div class="foot-links">
        <h3>Links</h3>
        <a class="linky" href=""><i style="font-size: 25px;" class="fab fa-youtube"></i></a><br>
        <a class="linky" href=""><i style="font-size: 25px;" class="fab fa-facebook"></i></a><br>
        <a class="linky" href=""><i style="font-size: 25px;" class="fab fa-twitter"></i></a><br>
        <a class="linky" href=""><i style="font-size: 25px;" class="fab fa-github"></i></a><br>
    </div>
</footer>
<hr>
<p class="pfoot"> &copy; 2021 Ambrose</p>