{% extends "index.html" %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}
<style>
.post-review h6, p{
    text-align:left;
}
@media(max-width: 600px){
.cov-container{
margin-top: 5%;
}
.covid-container h4{
font-size: 15px;
}
.covid-container h6{
padding: 10px 20px;
}
}

 .carousel-item{
 height:28rem;
 background: #7777;
 position: relative;
 }
 .carousel-item img{
 height: 100%;
 width: 100%;
 object-fit:cover;
 }

 form label{
 display: none;
 }


 form{
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .img-doc, .img-doc img{
 max-height: 180px;
 max-width: 250px;
 object-fit: cover;
 }

</style>

<section class="main-container">
    <div class="mt-5">
        <form method="get">
            {{ myFilter.form|crispy }}
            <input type="submit" class="btn btn-primary ml-3" value="search">
        </form>
    </div>



<div class="container pt-4 pb-4">
    <h1 class="row-link">News</h1>
	<div class="row">
        {% for update in updates %}
		<div class="col">
			<div class="card border-0 mb-4 box-shadow h-xl-300 pl-0">
                <div class="img-doc">
                    <img class="img-fluid" height="200"  src="{{ update.news_img.url }}" />
                </div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="{% url 'updates:news_details' slug=update.slug %}">{{ update.title|truncatechars:20  }}</a>
					</h2>
					<p class="card-text">
                        {{ update.description|truncatechars:30  }}
                    </p>
					<div>
						<small class="d-block"><a class="text-muted" href="">{{ update.date_created }}</a></small>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
    <div style="margin-top: 5px;">
        {% if updates.has_other_pages %}
        <ul class="pagination">
            {% if updates.has_previous %}
            <li class="page-item"><a href="?page={{ updates.previous_page_number }}" class="page-link">&laquo;</a> </li>
            {% endif %}

            {% for i in updates.paginator.page_range %}
            {% if updates.number == i %}
            <li class="page-item"><a class="active page-link">{{ i }}</a> </li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a> </li>
            {% endif %}
            {% endfor %}

            {% if updates.has_next %}
            <li class="page-item"><a href="?page={{ updates.next_page_number }}" class="page-link">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    {% if request.user.is_superuser %}
    <a  href="{% url 'updates:news_create' %}">Create News</a>
    {% endif %}

</div>



<section id="section" style="margin-top: 3%;">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for advertisement in advertisements %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <img src="{{ advertisement.advert_img.url }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ advertisement.title }}</h5>
        <p>{{ advertisement.description }}</p>
      </div>
    </div>
    {% endfor %}
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
</section>

<div class="cov-container" style="margin-top: 3%;">
    <div class="covid-container">
        <h4><i>Stay safe.Protect Yourself</i></h4>
        <h4>Mask on,sanitize & wash hands</h4>
        <h6>Check out <a href="{% url 'covid:dashboard' %}" class="covid-butt">Covid19</a> data</h6>
    </div>
</div>

</section>
{% endblock %}
