{% extends "index.html" %}
{% block content %}


<div class="detail-display">
    <h1>{{ projects.name }}</h1>
    <p>started at:-<i>{{ projects.date }}</i></p>
    <p>project by:-<b>{{ projects.project_by }}</b></p>
    <img style="width:500px" src="{{ projects.proj_img.url }}">
    <p>{{ projects.body|safe }}</p>
</div><br>


{% if request.user.is_authenticated %}
<div style="text-align: center;margin-top: 15px;">
    <a class="buttonlin" href="{% url 'updates:news_update' slug=object.slug %}">Update</a>
    <a class="buttonlin" href="{% url 'updates:news_delete' slug=object.slug %}">Delete</a>
</div>
{% endif %}
{% endblock %}